<div class="row align-center accordCollapse @Visibility">
    <CascadingValue Value="@Visible">
        <SPCollapseHeader> 
            <SPHeading Size=@Size>
                <SPButton Clicked="UpdateVisible">
                    @HeaderContents
                </SPButton>
            </SPHeading>
        </SPCollapseHeader>
    </CascadingValue>
</div>
<div class="row">
    @if (Visible)
        @ChildContent
</div>

@code {
    [Parameter]
    public string HeaderContents { get; set; }
    [Parameter]
    public HeadingSize Size { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool Visible { get; set; }

    protected string Visibility { get; set; }

    protected override void OnInitialized()
    {
        Visible = false;
    }
    public void UpdateVisible()
    {
        Visible = !Visible;
        Visibility = Visible ? "accordCollapseVisible" : "accordCollapseHidden";
    }

}