
.accordCollapse {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
}

.accordCollapseVisible {
    background-color: #e7f1ff;
}

.accordCollapseHidden {
    background-color: white;
}
.subAccordCollapseVisible {
    background-color: #8fa6c5;
}
