
<div class="container">
    <div class="row">
        <div class="col">
            @ChildContent
        </div>
    </div>
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
