@page "/accordion"

<strong>Sparkplug component</strong>
<h3>Accordion</h3>
<hr/>
<SPAccordion IsTopLevel="true">
    <SPCollapse 
        HeaderContents="This is my Header "
        Size="HeadingSize.h3">
        <SPCollapseBody>
            This content will show up when you click.
        </SPCollapseBody>
    </SPCollapse>
</SPAccordion>
<SPAccordion IsTopLevel="true">
    <SPCollapse
        HeaderContents="This is my other Header"
        Size="HeadingSize.h3">
        <SPCollapseBody>
            This is more contents that will show 
        </SPCollapseBody>
    </SPCollapse>
</SPAccordion>
<SPAccordion IsTopLevel="true">
    <SPCollapse
        HeaderContents="Multi-level Accordion"
        Size = "HeadingSize.h3">
        <SPCollapseBody>
            <SPAccordion IsTopLevel="false">
                <SPCollapse
                    HeaderContents="Sub Level Item A "
                    Size = "HeadingSize.h5">
                    <SPCollapseBody>
                        Here is my contents
                    </SPCollapseBody>
                </SPCollapse>
            </SPAccordion>
            <SPAccordion IsTopLevel="false">
                <SPCollapse
                    HeaderContents="Sub Level Item B "
                    Size = "HeadingSize.h5">
                    <SPCollapseBody>
                        Here is my contents
                    </SPCollapseBody>
                </SPCollapse>
            </SPAccordion>
        </SPCollapseBody>
    </SPCollapse>
</SPAccordion>
@code {
    
}
