@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Project Sparkplug </h1>

This blazor WASM project's purpose is to test 
the specific Sparkplug components available in 
the component libraries contained in this repository.

