@page "/player"

<strong>Sparkplug component</strong>
<h3>AudioDetails & CustomPlayer</h3>
<hr/>
<SPAudioDetails ArtistName="Benjamin Tissot" AudioTitle="Creative Minds" ImageSource="../images/creativeminds.jpg" />
<SPCustomPlayer AudioSource="../sounds/creativeminds.mp3"/>

@code {

}
