@page "/sparkaccordion"

<h3>SparkAccordion</h3>
<SPAccordion>
    <SPCollapse Visible="@collapse0Visible">
        <SPCollapseHeader>
            <SPHeading Size="SparkPlug_Accordion.HeadingSize.h2">
                <SPButton Clicked="@(()=> collapse0Visible = !collapse0Visible)">
                    Item 0 Heading
                </SPButton>
            </SPHeading>
        </SPCollapseHeader>
        <SPCollapseBody>
            This is the hidden content that will be shown 
        </SPCollapseBody>
    </SPCollapse>
</SPAccordion>
@code {
    bool collapse0Visible = false;
}
