<div class="row align-content-center accordCollapse @Visibility">
    <CascadingValue Value="@Visible">
        @CollapseHeader
    </CascadingValue>
</div>
<div class="row">
    @if(Visible)
        @CollapseBody
</div>

    @code {
    [Parameter]
    public RenderFragment CollapseHeader { get; set; }
    [Parameter]
    public RenderFragment CollapseBody { get; set; }
    [Parameter]
    public bool Visible { get; set; }

    protected string Visibility { get; private set; }

    protected override void OnParametersSet()
    {
        Visibility = Visible ? "accordCollapseVisible" : "accordCollapseHidden";
    }
}
